on: [pull_request, push]
jobs:
  test:
    strategy:
      matrix:
        platform: [macos-latest, ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: "3.6"
      - uses: actions/setup-python@v2
        with:
          python-version: "3.10"
      - run: python -m pip install --upgrade tox
      - run: tox
